.api{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, lightblue 10%, white);
  margin: 10px;
  width: auto;
  border: black solid 2px;
  border-radius: 20px;
  
}
.api span{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: auto;
  max-width: 100%;
}

.api img, select{
  width: auto;
  max-width: 100%;
}
